body {
  background-image: url(https://udir-blog-avatar.s3.amazonaws.com/background.jpg);
  -webkit-background-size:cover;
  background-size:cover;
  background-position: center center;
  height: 100vh;
  font-family: Arial, Helvetica, Serif;
}








