.post-section {
    width: 80%;
    display: inline-block;
    font-size: 14px;
    position: relative;
    padding:  10px 25px 10px 10px;
}
.post{
    border: black 1px solid;
    padding: 20px;
    width: 80%;
    resize: vertical;
    position: relative;
    margin-bottom: 2%;
    border-radius: 20px;
    background-color: rgba(192, 219, 213, 0.82);
}

.post .post-title{
    font-size: 24px;
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-content{
    width: 80%;

}
.post-title ,.post-content{
    margin-bottom: 3%;
    post-content: 3%;
}

.sidePostTitle {
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SideListPosts{
    display: flex;
}

.post img{
    position: absolute;
    top: 18px;
    right: 16px;
    width:90px;
    height:90px;
    display: flex;
}






