.searchBarInput {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}

#SearchButton {
    padding: 6px 10px;
    margin-top: 8px;
    margin-left:10px;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

.SearchButton:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
}
.topnav{
    display: flex;
    margin-left: 100%;
}